.lado-esquerdo {
      background-color: #28a745;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 2rem;
      height: 100vh;
    }

    .lado-direito {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      height: 100vh;
    }

    .form-container {
      width: 100%;
      max-width: 400px;
    }